html {
    background-color: red;
    color: white;
}
#scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}
#players {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
    font-size: 50px;
}
#results {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
    font-size: 40px;
}

#options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 200px;
}
#gameText {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 150px;
    font-size: 45px;
}

#newGame {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

#rock,#paper,#scissors{
    height: 200px;
    width: 200px;
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 5px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

#rock:hover,#paper:hover,#scissors:hover, #again:hover{
    border: 10px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 50px;
    text-shadow: 1px 1px 2px #427388; 
}
#again {
    height: 50px;
    width: 200px;
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 5px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}